.about{
    @include WH(100%);
    background: $fff;
    &_content{
        @extend .about;
        @include flex(flex, null, $jcsb);
        padding: 80px 0;
        border-bottom: 1px solid #e5e5e5;
        &-text{
            @include WH(45%);
            p{
                @include text($darck, 14px, $f500, null, 500);
                opacity: 0.8;
                line-height: 25px;
                padding: 32px 40% 32px 0;
            }
            ul{
                @include WH(100%);
                background: #f9f9f9;
                li{
                    padding: 20px 0;
                    @include text($darck, 18px, $f500, null, 500);
                    border-bottom: 1px solid #e0e0e0;
                    span{
                        @include text(null, null, $f600, null, 600);
                    }
                }
            }
            @include media(768px){
                @include WH(100%);
            }
        }
        &-img{
            @extend .about_content-text;
            img{
                @include WH(100%, 500px);
                @include flex(flex);
                object-fit: cover;
            } 
            @include media(768px){
                display: none;
            }
        }
    }
}
.slogan{
    @include text($darck, 32px, $f600, null, 600);
    position: relative;
    padding-bottom: 19px;
    line-height: 22px;
    &::before{
        @include WH(75px, 2px);
        background: $red;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
    }
}