@font-face{
    font-family: 'raleway-r';
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'raleway-m';
    src: url('../fonts/Raleway/Raleway-Medium.ttf');
    font-weight: 500;
}
@font-face{
    font-family: 'raleway-sb';
    src: url('../fonts/Raleway/Raleway-SemiBold.ttf');
    font-weight: 600;
}
@font-face{
    font-family: 'raleway-b';
    src: url('../fonts/Raleway/Raleway-Bold.ttf');
    font-weight: 700;
}
